@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'hunters';
    src: url("../public/fonts/Hunters.otf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'jetbrains';
    src: url("../public/fonts/JetBrainsMono-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }

  :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
body {
    min-height: 100vh;
    background-repeat: no-repeat;
    background: white;
  }
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

._input {
  /* border-left: 3px solid #4F7D95; */
  padding: 0.75rem;
  width: 100%;
  /* background-color: #f1f1f1; */
  outline: none;
  transition: all .2s;
  box-shadow: 0 1px 5px 0 #e4e4e4;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  color: #1c1b1fb4;
}
._input::placeholder {
  color: #4f7c95a2;
}
._input:focus {
  transition: all .2s;
  box-shadow: 0 1px 10px 0 #bdbdbd;
}

._input_icon {
  position: absolute;
  color: #4F7D95;
  right: 0;
  top: 0;
  padding: 0.50rem;
}

._input_icon_2 {
  position: absolute;
  color: #FCA5A5;
  right: 0;
  top: 0;
  padding: 0.50rem;
}

._input_wide {
  position: relative;
  width: 100%;
  border-radius: 0.5rem;
}


.tooltip {
    position: absolute;
    width: 180px;
    top: 0;
    left: 40px;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 0.75rem;
    border-radius: 0.25rem;
    z-index: 9999;
    text-align: center;
}

._modal_display {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0000000e;
    z-index: 50;
    display: flex;
    /* flex-direction: column; */
    justify-items: center;
    align-items: center;
    place-items: center;
}
._modal {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-shadow: 0 1px 10px 0 #fff;
    border-radius: 100%;
}
._modal._load {
    top: 20%;
    box-shadow: 0 5px 20px 0 #ffffff;
}
._button {
    scale: 1;
    box-shadow: 0 1px 5px 0 #bdbdbd;
}
._button:active {
    scale: 0.95;
}
._button._full {
    height: 2.5rem;
    width: 100%;
}
._button._large {
    height: 2rem;
    width: 12.5rem;
}


@media screen and (max-width: 768px) {
    .tooltip {
        left: -180px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .tooltip {
        left: 50px;
    }
}

@media screen and (min-width: 1025px) {
    .tooltip {
        left: 50px;
    }
}
