@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "hunters";
    src: url("../public/fonts/Hunters.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "jetbrains";
    src: url("../public/fonts/JetBrainsMono-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
/* @font-face {
    font-family: "jetbrains";
    src: url("../public/fonts/JetBrainsMono-Medium.ttf");
    font-weight: medium;
    font-style: medium;
}
@font-face {
    font-family: "jetbrains";
    src: url("../public/fonts/JetBrainsMono-Thin.ttf");
    font-weight: thin;
    font-style: thin;
}
@font-face {
    font-family: "jetbrains";
    src: url("../public/fonts/JetBrainsMono-Bold.ttf");
    font-weight: bold;
    font-style: bold;
} */
@font-face {
    font-family: "norms";
    src: url("../public/fonts/TT\ Norms\ Pro\ Regular.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "norms";
    src: url("../public/fonts/TT\ Norms\ Pro\ Thin.otf");
    font-weight: thin;
    font-style: thin;
}
@font-face {
    font-family: "norms";
    src: url("../public/fonts/TT\ Norms\ Pro\ Bold.otf");
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: "norms";
    src: url("../public/fonts/TT\ Norms\ Pro\ Medium.otf");
    font-weight: medium;
    font-style: medium;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}
body {
    min-height: 100vh;
    background-repeat: no-repeat;
    background: white;
}
@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

._input {
    /* border-left: 3px solid #4F7D95; */
    padding: 0.75rem;
    width: 100%;
    background-color: transparent;
    border: 1px solid #242424;
    outline: none;
    transition: all 0.2s;
    /* box-shadow: 0 1px 5px 0 #242424; */
    border-radius: 0.25rem;
    font-size: 0.75rem;
    color: #fff;
}
._input::placeholder {
    color: #928899;
}
._input:focus {
    transition: all 0.2s;
    border: 1px solid #f5618b;
}

/* ._input_icon {
  position: absolute;
  color: #4F7D95;
  right: 0;
  top: 0;
  padding: 0.50rem;
} */

._input_icon_2 {
    position: absolute;
    color: #f5618b;
    right: 0;
    top: 0;
    padding: 0.5rem;
}

._input_wide {
    position: relative;
    width: 100%;
    border-radius: 0.5rem;
}

.tooltip {
    position: absolute;
    width: 180px;
    top: 0;
    left: 40px;
    transform: translateX(-50%);
    background-color: transparent;
    color: #928899;
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid #928899;
    z-index: 9999;
    text-align: center;
    box-shadow: 0 1px 5px 0 #242424;
}

._modal_display {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1a1b1e8a;
    z-index: 50;
    display: flex;
    /* flex-direction: column; */
    justify-items: center;
    align-items: center;
    place-items: center;
}
._modal {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-shadow: 0 1px 10px 0 #fff;
    border-radius: 100%;
}
._modal._load {
    top: 20%;
    box-shadow: 0 5px 20px 0 #ffffff;
}
._button {
    scale: 1;
    /* box-shadow: 0 1px 5px 0 #e2e2e2; */
}
._button:active {
    scale: 0.95;
}
._button._full {
    height: 2.5rem;
    width: 100%;
}
._button._large {
    height: 2.5rem;
    width: 12.5rem;
}
._button._medium {
    height: 2rem;
    width: 8rem;
}

@media screen and (max-width: 768px) {
    .tooltip {
        left: -180px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .tooltip {
        left: 50px;
    }
}

@media screen and (min-width: 1025px) {
    .tooltip {
        left: 50px;
    }
}
